.table {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}
table {
  margin-top: 10px;
  width: 100%
}
tr {
  height: 35px;
}
thead tr {
  color: #fefefe;
  background-color: #167f92;
}

tbody > tr:nth-child(odd) {
  background-color: #fefefe;
}

table tr:nth-child(even) {
  background-color: #eaf3f3;
}