.table {
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    flex-flow: column;
}
input {
    height: 50px;
    font-size: x-large;
    border-radius: 5px;
    padding-left: 15px; 
}
table {
    width: 100%
}
thead tr {
    color: #fefefe;
    background-color: #167f92;
}

tbody > tr:nth-child(odd) {
    background-color: #fefefe;
}

table tr:nth-child(even) {
    background-color: #eaf3f3;
}