.balance {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.account {
  height: 120px;
  border-radius: 15px;
  background-color: #476363;
  color: white;
  border: 1px solid black;
  width: 45%;
  margin: 5px;
}

.neg {
  background-color: #881f1f;
}
.ajuste {
  background-color: rgba(119, 116, 84, 0.67);
}
div.over {
  border: 2px dashed black;
}