.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  font-size: large;
  color: #eaf3f3;
  width: 48%;
  padding: 5px;
  border-radius: 5px;
  background-color: #476363;
}
.btn:hover{
  filter: brightness(65%)
}

.filter {
  display: flex;
  border: 2px solid #9a9a9a;
}
span {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 15px;
}
input {
  border: none;
  height: 50px;
  font-size: x-large;
  /*border-radius: 5px;*/
  padding-left: 15px; 
  width: 100%
}